/* Thin 100, ExtraLight 200, Light 300, Regular 400, Medium 500, SemiBold 600, Bold 700, ExtraBold 800, Black 900,*/


/* nav bar related styles */
.nav-bar{
    background-color: burlywood;
    font-size: large;
    font-weight: 500;
}

.text-logo{

}

.nav-links{

}